@use "sass:color";

@mixin border($color) {
    border: {
        color: $color;
        radius: $border-radius;
        width: $border-thickness;
        style: solid;
    }
}

@mixin btn-style($color) {
    display: inline-block;
    margin: $margin;
    padding: $padding $padding;
    border-radius: $border-radius;
    text-decoration: none;
    color: $primary;
    background-color: color.scale($color, $lightness: 25%);

    &:hover{
        background-color: color.scale($color, $lightness: 50%);
    }
}